<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" routerLink="/home" style="color: white;">Tech Elevate</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" style="color: white;">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/cars" style="color: white;">Cars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/bikes" style="color: white;">Bikes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/movies" style="color: white;">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/laptops" style="color: white;">Laptops</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/mobiles" style="color: white;">Mobiles</a>
        </li>
      
      </ul>
     
    </div>
  </nav>