<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="#" style="color: white;">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" style="color: white;">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/about" style="color: white;">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/help" style="color: white;">Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/property-binding" style="color: white;">Property Binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/event-binding" style="color: white;">Event Binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/two-way" style="color: white;">Two Way Binding</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/ngFor" style="color: white;">Products</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/ngSwitch" style="color: white;">NgSwitch</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/reactive" style="color: white;">Reactive-Form</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/parent" style="color: white;">Parent</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/comment-details" style="color: white;">Comment-Details</a>
                  </li>
  
<!--         
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" style="color: white;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>-->
      </ul>
      <ul class="navbar-nav float-left">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" style="color: white;">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/register" style="color: white;">Register</a>
          </li>
       
      </ul>
     
    </div>
  </nav>